.yt-enhancer-row {
   display: flex;
   flex-direction: row; 
   justify-items: flex-start;
   align-items: center;
   gap: 10px;

}
.yt-enhancer-copy-button{
    border: none;
    background-color: transparent;
    fill: currentColor;
    color: var(--yt-app-text-color);
    background-repeat: no-repeat;
    background-position: 95%;
    padding: 5px;
    padding-right: 30px;
  outline: 1px solid var(--yt-app-border-color);
}

.yt-enhancer-copy-button:hover {
  outline: 1px solid var(--yt-app-highlight-color);
}

.yt-enhancer-copy-button:active {
  background-color: var(--yt-app-selected-background-color);
}
