.yt-enhancer-row {
   display: flex;
   flex-direction: row; 
   justify-items: flex-start;
   align-items: center;
   gap: 10px;

}
.yt-enhancer-copy-button{
    width: 16px;
    height: 16px;
    border: none;
}

.yt-enhancer-copy-button:hover {
  outline: 2px solid blue;
}

.yt-enhancer-copy-button:active {
  animation: blueFlash 1s;
}

@keyframes blueFlash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: transparent;
  }
}
